@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a {
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
}

// nav li a:hover{
//     color: $primary;
// }
// this is css , it is also fine and does same job, but since we are using scss lets do it scss way, as done above.
div.container {
    background: $secondary;
}

.size {
    background: $secondary;
}

.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

section.cart {
    background: $secondary;
    .amount {
        color: $primary;
    }
}

.form-label {
    display: block !important;
}

section.login {
    background: $secondary;
    a {
        color: $primary;
        &:hover {
            color: $primary-hover
        }
    }
}